# List of files to ignore globally in the repository

# Temporary editor files

*.swp
*.swo

# Temporary windows files
~$*

# Log files
*.log

# Ignore user-specific files in PyCharm environment:
# - based on experience, it is easy enough to set up a PyCharm dev environment
#   so don't hand off any PyCharm files in the repository
.idea/
__pycache__/

# All TSTool made PNG graph files.
test-CDSS/processedData/6_CreateTimeSeriesProducts/SnowpackGraphsByBasin/*.png

# All processed SnowpackStatisticsByBasin CSV files.
test-CDSS/processedData/5_CalculateStatistics/SnowpackStatisticsByBasin/*.csv

# All files in the 
test-CDSS/processedData/5_CalculateStatistics/SnowpackStatisticsByDate/*
!test-CDSS/processedData/5_CalculateStatistics/SnowpackStatisticsByDate/README.md
